/* Establece la fuente personalizada */
@font-face {
    font-family: 'Mukta';
    src: url('Mukta-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

/* Establece el tamaño de fuente base */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* Ajustes generales para el cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    background-color: #f2f2f2; /* Color de fondo */
}

/* Contenedor principal del mapa */
#map-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente al centro */
    width: 100%;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden; /* Evita que el tooltip se muestre fuera del contenedor del mapa */
    max-width: 1000px;
    margin: 0 auto;
}

/* SVG ajustado */
svg {
    width: 100%;
    height: auto;
    max-width: 1000px; /* Limita el ancho máximo */
    transition: transform 0.5s ease-in-out; /* Transición suave de 0.5 segundos para transformaciones */
    margin-top: -10px;
}

/* Estilos para el título */
.title-container {
    background-color: #E0E0E0;
    color: #1A1A1A;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12); /* Añade sombra */
    font-size: 14px; /* Tamaño de fuente reducido */
}

.title-container .custom-title {
    margin: 0;
    font-size: 18px; /* Tamaño del título dentro del contenedor */
    font-weight: bold;
}

#title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: auto; /* Asegura que el título se centre correctamente */
    margin-left: 100px;
}

.custom-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Asegura que el texto esté centrado */
}

/* Estilos para el contenedor de información y contacto */
#info-contact-container {
    display: flex;
    flex-direction: column; /* Cambiado a columna para dispositivos móviles */
    align-items: flex-start; /* Alinea al inicio */
    justify-content: flex-start; /* Alinea al inicio */
    margin-top: 20px;
    width: 100%; /* Ajusta el ancho al 100% */
    max-width: 800px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
}

@media (min-width: 768px) {
    #info-contact-container {
        flex-direction: row; /* Cambiar a fila para pantallas más grandes */
        justify-content: space-between;
    }
}

#info-container, #contact-container {
    width: 90%; /* Asegura que los contenedores ocupen un ancho adecuado */
    max-width: 300px; /* Ajusta el ancho máximo para hacerlos más pequeños en pantallas grandes */
    margin: 25px 0; /* Añade margen vertical */
}

.contacto img {
    width: 20px;
    margin-right: 10px;
}

.contacto ul {
    list-style: none;
    padding: 0;
}

.contacto ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Estilos para municipios contenedor y departamentos */
.contenedor .municipios, .contenedor .departamentos {
    width: 100%; /* Asegura que los contenedores ocupen todo el ancho disponible */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.contenedor {
    margin-top: 60px; /* Ajusta el valor según lo necesario */
}

.contenedor h4 {
    background-color: #d3d3d3;
    margin: -10px -10px 10px -10px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.contenedor ul {
    list-style-type: none;
    padding-left: 20px;
}

.contenedor ul li {
    margin: 5px 0;
}

.contenedor ul li:not(.region-name)::before {
    content: '• ';
    color: #00a9ce;
}

/* Estilos para títulos de contenedores */
.titulo-container {
    border-left: 3px solid #00a8e0;
    padding-left: 10px;
    margin-bottom: 20px;
}

.titulo-container h3 {
    color: #00a8e0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.titulo-container p {
    margin: 5px 0;
    font-size: 16px;
}

.titulo-container p strong {
    font-size: 20px;
}

/* Estilo para horarios de atención */
.horariosDeAtencion h4 {
    color: #3C8505;
    margin: 0;
}

/* Estilo del tooltip */
#tooltip {
    position: absolute;
    background-color: #9AC357;
    border: 1px solid #767676;
    padding: 8px;
    z-index: 1000; /* Asegura que el tooltip esté por encima de otros elementos */
    display: none;
    border-radius: 10px;
    color: #1A1A1A;
    font-size: 14px;
}

#tooltip::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #9AC357 transparent transparent transparent; /* Color y forma de la flecha */
    top: 100%; /* Coloca la flecha abajo del tooltip */
    left: 50%;
    transform: translateX(-50%);
}


/* Ajustes para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    #info-contact-container {
        flex-direction: column; /* Cambia a columna para dispositivos más pequeños */
    }

    #info-container, #contact-container {
        max-width: 100%; /* Ajusta el ancho al 100% */
        margin: 5px 0; /* Añade margen vertical */
    }

    iframe {
        width: 100%; /* Asegura que el iframe ocupe todo el ancho disponible */
        height: 300px; /* Ajusta la altura según lo necesario */
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .custom-title {
        font-size: 20px; /* Ajusta el tamaño del título para pantallas pequeñas */
    }

    .titulo-container h3, .titulo-container p {
        font-size: 16px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }

    .titulo-container p strong {
        font-size: 18px; /* Ajusta el tamaño del texto fuerte para pantallas pequeñas */
    }

    .horariosDeAtencion h4 {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }

    .municipios .titulo, .municipios ul li, .municipios ul li.region-name {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }
}
