@font-face {
    font-family: 'Mukta';
    src: url('Mukta-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

/* Establece el tamaño de fuente base */
html {
    font-size: 16px; /* Tamaño base para dispositivos pequeños */
}

@media (min-width: 768px) {
    html {
        font-size: 15px; /* Tamaño base para tabletas y dispositivos más grandes */
    }
}

/* Ajustes generales para el cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    background-color: #f2f2f2; /* Color de fondo */
}

/* Contenedor principal del mapa */
#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
}

/* SVG ajustado */
svg {
    width: 100%;
    height: auto;
    max-width: 1000px;
    transition: transform 0.5s ease-in-out;
    margin-top: -10px;
}

/* Estilos para el título */
.title-container {
    background-color: #E0E0E0;
    color: #1A1A1A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12); /* Añade sombra */
    font-size: 14px;
}

.title-container .custom-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

#title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: auto;
    margin-left: 100px;
}

.custom-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para el contenedor de información y contacto */
#info-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px auto;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #info-contact-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

#info-container, #contact-container {
    width: 100%;
    max-width: 250px;
    margin: 15px 0;
    font-size: 15px;
}

.contacto img {
    width: 20px;
    margin-right: 10px;
}

.contacto ul {
    list-style: none;
    padding: 0;
}

.contacto ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Estilos para municipios contenedor y departamentos */
.contenedor .municipios, .contenedor .departamentos {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.contenedor {
    margin-top: 30px;
}

.contenedor h4 {
    background-color: #d3d3d3;
    margin: -10px -10px 10px -10px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.contenedor ul {
    list-style-type: none;
    padding-left: 20px;
}

.contenedor ul li {
    margin: 5px 0;
}

.contenedor ul li:not(.region-name)::before {
    content: '• ';
    color: #00a9ce;
}

/* Estilos para títulos de contenedores */
.titulo-container {
    border-left: 3px solid #00a8e0;
    padding-left: 10px;
    margin-bottom: 20px;
}

.titulo-container h3 {
    color: #00a8e0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.titulo-container p {
    margin: 5px 0;
    font-size: 16px;
}

.titulo-container p strong {
    font-size: 20px;
}

/* Estilo para horarios de atención */
.horariosDeAtencion h4 {
    color: #3C8505;
    margin: 0;
}

/* Estilos unificados para los contenedores de booking y jurisdicción */
#bookingContainer, #jurisdictionContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #E0E0E0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
}

#bookingContainer h2, #jurisdictionContainer h4 {
    margin-top: 0;
    text-align: center;
}

#bookingContainer a, #jurisdictionContainer p {
    color: #00a8e0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

#bookingContainer a:hover {
    text-decoration: underline;
}

/* Ajustes para el contenedor combinado */
#bookingJurisdictionContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    #bookingJurisdictionContainer {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Estilo para el tooltip */
#tooltip {
    position: absolute;
    background-color: #9AC357;
    padding: 8px;
    z-index: 1000;
    display: none;
    border-radius: 10px;
    color: #1A1A1A;
    font-size: 14px;
    white-space: nowrap; /* Asegura que el texto no se desborde */
}

#tooltip::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #9AC357 transparent transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


/* Ajustes para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    /* Para pantallas pequeñas, ajusta los elementos */
    #info-contact-container, #bookingJurisdictionContainer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #map-container {
        width: 100%;
        margin-top: 25px;
    }

    #info-container, #contact-container, #bookingContainer, #jurisdictionContainer {
        max-width: 100%;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .title-container {
        font-size: 16px;
    }
    #title-wrapper {
        margin-left: 145px; /* Establece el margen izquierdo del title-wrapper */
    }
}

/* Media query para iPad Mini */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #map-container {
        width: 100%;
        max-width: 500px; /* Ajusta este valor según sea necesario */
    }

    svg {
        max-width: 100%; /* Asegura que el SVG se ajuste al contenedor */
    }
  
}

/* Media query para iPad Air y otros dispositivos más grandes */
@media screen and (min-width: 820px) and (max-width: 1180px) {
    #map-container {
        width: 100%;
        max-width: 1000px; /* Ajusta este valor según sea necesario */
    }

    svg {
        max-width: 100%; /* Asegura que el SVG se ajuste al contenedor */
        margin-top: -150px;
    }

    #title-wrapper {
        margin-left: 0px; /* Establece el margen izquierdo del title-wrapper */
    }
}

    /* Media query para iPad Air y otros dispositivos más grandes */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    #map-container {
        width: 100%;
        max-width: 1000px; /* Ajusta este valor según sea necesario */
    }

    svg {
        max-width: 100%; /* Asegura que el SVG se ajuste al contenedor */
        margin-top: -50px;
    }
}

